<h1>My tasks</h1>
<div>
  <% @tasks.each do |task| %>
    <p>
    <% if task.completed %>
      <span><i class="far fa-check-square"></i></span>
    <% else %>
      <span><i class="far fa-square"></i></span>
    <% end %>
    <%= link_to task.title, task_path(task.id) %>
     ・ <%= link_to task_delete_path(task), method: :delete, data: { confirm: "Are you sure you want to delete?"} do %>
     <%= fa_icon "trash-alt" %>
     <% end %>
    </p>
  <% end %>
</div>
<i class="fas fa-plus"></i><%= link_to ' Add a new task', tasks_new_path%>

