<div>
  <h1><%= @task.title %></h1>
  <i class="fas fa-pencil-alt"></i><%= link_to 'Edit this task', edit_task_path(@task.id) %>
</div>
<p><%= @task.details %></p>
<p>
<% if @task.completed %>
  <span><i class="far fa-check-square"></i></span> This task is completed
<% else %>
  <span><i class="far fa-square"></i></span> This task is not completed yet
<% end %>
</p>
<%= link_to 'Back to list', tasks_path %>
